html,
body,
h1,
h2,
h3,
h4,
p,
label {
	font-family: Montserrat, Arial;
	color: white;
}

h1,
h2 {
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
	text-transform: uppercase;
}

h1.hero {}

vbody {
	background: rgba(76, 149, 217, 1);
	background: -moz-linear-gradient(45deg, rgba(76, 149, 217, 1) 0%, rgba(76, 149, 217, 1) 10%, rgba(32, 227, 188, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76, 149, 217, 1)), color-stop(10%, rgba(76, 149, 217, 1)), color-stop(100%, rgba(32, 227, 188, 1)));
	background: -webkit-linear-gradient(45deg, rgba(76, 149, 217, 1) 0%, rgba(76, 149, 217, 1) 10%, rgba(32, 227, 188, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(76, 149, 217, 1) 0%, rgba(76, 149, 217, 1) 10%, rgba(32, 227, 188, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(76, 149, 217, 1) 0%, rgba(76, 149, 217, 1) 10%, rgba(32, 227, 188, 1) 100%);
	background: linear-gradient(45deg, rgba(76, 149, 217, 1) 0%, rgba(76, 149, 217, 1) 10%, rgba(32, 227, 188, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c95d9', endColorstr='#20e3bc', GradientType=1);
	background-attachment: fixed;
}

body {
	background-color: #FF68B0;
}

#home,
#services,
#contact,
#about {
	padding-top: 60px;
}

#about {
	padding-bottom: 240px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
	background-color: transparent;
	border: 2px solid white;
}

blockquote,
blockquote cite {
	color: white;
}

.button {
	background-color: transparent;
	border: 2px solid white;
}

.button:hover {
	background-color: rgba(0, 0, 0, .2);
}

#back-top {
	position: fixed;
	bottom: 20px;
	right: 2%;
	z-index: 100;
	width: 48px;
}

.top-bar-section ul li>a {
	font-family: Montserrat, Arial;
}

// Small screens
@media only screen {
	.homesvg {
		width: 64px;
	}
}
/* Define mobile styles */

@media only screen and (max-width: 40em) {
	.homesvg {
		width: 64px;
	}
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
	.homesvg {
		width: 64px;
	}
}
/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.homesvg {
		width: 64px;
	}
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
	.homesvg {
		width: 128px;
	}
}
/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	.homesvg {
		width: 128px;
	}
}
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
	.homesvg {
		width: 128px;
	}
}
/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	.homesvg {
		width: 128px;
	}
}
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
	.homesvg {
		width: 128px;
	}
}
/* min-width 1921px, xxlarge screens */
