section#contact
	p +44 (0)7968 815182
	p
		a(href='mailto:victoria@vkpropertysearch.com') victoria@vkpropertysearch.com
	ul.inline
		li
			a(href='https://www.facebook.com/vkpropertysearch', target='_blank')
				img(src='images/facebook.svg', alt='Facebook')
		li
			a(href='https://twitter.com/vkpropsearch', target='_blank')
				img(src='images/twitter.svg', alt='Twitter')
		li
			a(href='', target='_blank')
				img(src='images/pinterest.svg', alt='Pinterest')
		li
			a(href='https://plus.google.com/113872618816669198593/about', target='_blank')
				img(src='images/google-plus.svg', alt='Google+')
		li
			a(href='https://www.linkedin.com/company/victoria-knight-property-search', target='_blank')
				img(src='images/linkedin.svg', alt='LinkedIn')
