meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Victoria Knight Property Search offers an independent, bespoke and affordable service, helping you find your perfect home in the Chilterns and Thames Valley.')
meta(name="theme-color" content="#db5945")

title= title

link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css')
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300|EB+Garamond')
link(rel='stylesheet', href='/css/main.css')
