ul
	li#logo
		label(for="show-menu") Menu
		input(type="checkbox", id="show-menu", role="button")
	li
		a(href="/") Home
	li
		a(href="/about") About Us
	li
		a(href="/contact") Contact
	li
		a(href="/tweets") Tweets
