input(type="checkbox", id="show-menu", role="button")
label(for="show-menu")
	img(src='/images/menu.svg')
ul
	li
		a(href="/") Home
	li
		a(href="/about") About Us
	li
		a(href="/contact") Contact
	li
		a(href="/schools") Schools
	li
		a(href="/tweets") Tweets
