extends layout

block content
	section#main
		section#about
			.textblock
				h2 About Us
				p Finding your perfect home can be both very time consuming, and extremely stressful. But it doesn't have to be.
				p Victoria Knight Property Search does the work for you through our independent, bespoke home search service for both buyers and tenants within the Chilterns and Thames Valley.
				p With over 8 years experience in the property market and twenty years living in the area, we know the most direct commuting routes, the hidden villages, as well as the best schools and catchment areas. In addition we are closely connected to the key people in the main selling agencies, ensuring you will get to hear about your ideal home first.
				p We pride ourselves in our high quality service and professionalism and we will work around your time pressures.
				p Why not get in touch today to discuss your plans and we will be happy to talk through how we can help in more detail.
