extends layout

block content
	section#main
		section#contact
			form(method='post', action='/contact')
				fieldset
					label(for='name') Name *
					input(name='name', type='text', placeholder='Your name', required='required')
					br
					label(for='email') E-mail *
					input(name='email', type='email', placeholder='Your e-mail', required='required')
					br
					label(for='tel') Telephone:
					input(name='tel', placeholder='Your telephone number')
					br
					label(for='msg') Message *
					textarea(name='msg', placeholder='Your message', required='required')
					br
					input(type='submit', value='Send message')
