extends layout

block content
	section#main
		section#contact
			h2 Contact Us
			form(method='post', action='/contact')
				p We're keen to hear from you to help you find your perfect property. Please fill in the form below and we'll get back in touch as soon as possible.
				fieldset
					//label(for='name') Name *
					input(name='name', type='text', placeholder='Name', required='required')
					//label(for='email') E-mail *
					input(name='email', type='email', placeholder='E-mail address', required='required')
					//label(for='tel') Telephone:
					input(name='tel', placeholder='Telephone number')
					//label(for='msg') Message *
					textarea(name='msg', placeholder='Message', required='required')
				input(type='submit', value='Send message')
