extends layout

block content
	section#main
		section#schools
			script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?key=AIzaSyAUq_5LOVXjQCEIiyIsloTg8pwZdHm2Q94")
			script(type="text/javascript", src="/javascript/schools.js")
			h2 Local schools
			#map-canvas

