extends layout

block content
	section#main
		section#testimonials
			h2 Testimonials
			blockquote Victoria Knight did a great job for me. They were professional, hard-working and helped with all the stresses of buying a new home. I cannot recommend them highly enough.
				footer John Smith
			blockquote Wow. What a difference it made having some help buying a house. VK Property Search were amazing.
				footer Ella Knight
			blockquote Even me.
				footer Isobel Knight

