html {
	height: 100%
}

body {
	background-color: #333;
	background-image: url(/images/1920x1280_BG_md.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100%
}

html,
body,
h1,
h2,
h3,
h4,
a,
a:hover,
p,
label {
	font-family: EB Garamond, Times New Roman, serif;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0)
}

h1,
h2,
h3 {
	text-align: left;
	margin: .5rem;
	text-shadow: none
}

h2 {
	font-size: 1.4rem
}

a {
	text-decoration: none
}

p {
	margin: .5rem;
}

#outer {
	font-size: 1.2rem
}

#inner {
	margin: 0 auto;
	padding: 0 0;
	max-width: 34rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

#menu ul {
	margin: 1rem
}

#brand {
	padding: 8rem 0;
	max-width: 80%;
	margin: auto
}

#brand img {
	width: 80%
}

#brand h1 {
	font-family: Open Sans, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2.4rem
}

#main {
	flex-grow: 5
}

a {
	color: #eee;
	text-decoration: none
}

a:hover {
	color: white;
	text-decoration: underline
}

#about,
#main {
	padding-bottom: 1.5rem
}

#about p {
	text-align: left
}

#about img,
#services img,
#contact img,
#thanks img {
	height: 6rem
}

#contact p {
	text-align: left;
}

#footer {
	margin: 1rem 0;
}

.inline {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.inline li {
	display: inline;
	margin: .5rem .5rem
}

.inline li .textblock {
	background-color: rgba(0, 0, 0, 0.3);
}

.inline img {
	height: 2rem
}

form {
	text-align: center;
}

fieldset {
	box-sizing: border-box;
	width: 80%;
	border-width: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid white;
	border-radius: 10px;
	padding: 0;
	margin: 0 auto;
}

fieldset label {
	box-sizing: border-box;
	width: 100%;
	float: left;
	clear: left;
}

fieldset input,
fieldset textarea {
	box-sizing: border-box;
	width: 100%;
	background-color: transparent;
	padding: 0.5em;
	border: 0px solid;
	border-bottom: 1px solid #666;
	color: white;
}

form input[type="submit"] {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 0.5rem;
	padding: 0.5rem 2rem;
	border: 1px solid #ccc;
}

form input:focus,
textarea:focus {
	border: 0px solid red;
	border-bottom: 1px solid #666;
	outline: none !important;
}

fieldset textarea {
	height: 8rem;
	margin-bottom: 0rem;
}

@media only screen and (max-height: 800px) {
	#brand {
		padding: 4rem 0
	}
}

@media only screen and (max-height: 600px) {
	#brand {
		max-width: 20rem;
		padding: 2rem 0
	}
}
